* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    /* background-color:burlywood; */
    padding-top: 30px;
    background-image: url('./images/img.jpg');
    background-size: cover;


}

.content {
    display: flex;
    width: 90%;
    height: 80%;
    border: 2px solid black;
    margin: 50px;


}

.content #main {
    width: 50%;
    /* background-color: rgb(42, 153, 163); */
    display: flex;
    flex-direction: column;
    /* padding: 200px; */
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    /* border-radius: 20px; */
    background-image: url(/practice/abc/ccc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    background: transparent;
}




#btn {
    padding: 10px;
    margin: 20px;
    margin-bottom: -38px;
    /* border: 3px solid black; */
    padding-left: 10px;
    margin-left: 10px;


}


button {
    background-color: transparent;
    padding: 10px 5px;
    margin-left: 10px;
    border-radius: 10px;
    /* border:2px solid black; */


}

button a {
    text-decoration: none;
    font-size: 1rem;
    color: black;

}

#para {
    padding: 2px;
    border-radius: 5px;
    color: black;
}

#para a {
    color: black;
}

.content .main1 {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 20px; */
    background-color: aliceblue;
}

#from {
    padding: 3px 1rem;
    float: right;
    margin-left: 18rem;

}

#from :hover {
    background-color: rgb(18, 114, 210);
    color: black;
}

input {
    padding: 7px;
    border-radius: 7px;
}

label {
    margin-left: -124px;
}

#h1 {
    padding: 10px;
    font-weight: bold;

}

h2 {
    padding-right: 91px;
    padding-top: 70px;
    padding: 60px;
    font-weight: bold;
}

#form2 {
    padding: 10px 4.6rem;
    font-weight: bold;
    background-color: black;
    color: aliceblue;

}

#form2:hover {
    background-color: rgb(0, 140, 255);
    color: black;
}

#form3 {
    padding: 10px 2.6rem;
    font-weight: bold;
    border: transparent;
}

#form3:hover {
    background-color: rgb(0, 140, 255);

}

/* 
@media screen and (max-width: 1100px) {
    .left-btn{
            width: 116%;
            padding: 2px;
    }
    .left-btn a{
        font-size: 11px;
    }
}
@media screen and (max-width: 1010px) {
    .left-btn{
        width: 218%;
        height: 35%;
    }
} */

@media screen and (max-width: 1020px) {
    /* .left-btn{
        width: 10rem;
        height: 3rem;
    }
    .left-btn a{
        font-size: 17px;
    } */

    #from {
        display: flex;
        margin: 0px 10%;
    }
}

@media screen and (max-width: 770px) {
    .content {
        margin: auto;
    }
}

@media screen and (max-width:500px) {
    .container {
        min-height: 126vh;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
        width: 75%;
        min-height: 100vh;
    }

    .content .main1 {
        width: 100%;
        padding-top: -8%;
    }


    .content .main1 h2 {
        padding: 27px 0px;
    }

    .content .main1 #from {
        padding-top: 23px;
        margin-bottom: -20px;

    }

    .content .main1 #from #para:nth-child(1) {
        margin-right: 4rem;

    }

    .content .main #from #para:nth-child(2) {
        margin-left: 10rem;


    }

    /* main */

    .content #main {
        width: 100%;
        height: 50%;
    }

}